fastapi
uvicorn[standard]

sqlalchemy
pymysql
alembic

pydantic
pydantic-settings

redis

python-jose[cryptography]
passlib[bcrypt]
bcrypt

python-multipart
email-validator

celery

httpx

python-dotenv

structlog

pytest
pytest-asyncio
pytest-cov

slowapi

sentry-sdk 